* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container a {
  margin: 0 10px;
}
.text {
  text-align: center;
  margin-top: 10px;
}
